body {
	font-family: Arial, sans-serif;
	background: #cfd6dc;
}

#results{
	display: grid;
	gap: 30px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

#results h2 {	
	text-align: center;
	color: #0f4c81;
	margin-bottom: -10px;
	font-size: 30px;
}

.oficina{
	background: #e6e6e6;
	overflow: hidden;
	margin-bottom: 20px;
}

.oficina h3 {
	background: #0f4c81;
	color: white;
	padding: 25px 15px;
	margin: 0;
	font-size: 25px;
}

.datos{
	display: grid;
	grid-template-columns: 43% 57%;
}

.datos img{
	align-self: center;
	display: grid;
	width: 26%;
	border-radius: 25px;
	padding: 20px 10px;
}

.datos ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-left: 1px solid #cfcfcf;
}

.datos li {
	padding: 12px 15px;
	border-bottom: 1px solid #ccc;
	background-color: #f5f5f5;
}

.datos li:nth-child(odd){
	background-color: #e9e9e9;
}